fastapi
uvicorn
sqlalchemy
greenlet
aiosqlite
pydantic[email]
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
alembic
numpy
pandas
joblib
catboost
xgboost
scikit-learn
shap
imbalanced-learn
lightgbm
optuna
